{{/* Ballast 1–3 images in a row. Use in layouts or via shortcode. */}}
<div class="ballast-1-2-3 py-4">
  <div class="container-fluid px-0">
    <div class="row g-0 justify-content-center">
      <div class="col-sm-6 col-lg-4">
        <img src="{{ "ballast1.png" | relURL }}" alt="Ballast 1" class="ballast-gallery-img img-fluid">
      </div>
      <div class="col-sm-6 col-lg-4">
        <img src="{{ "ballast2.png" | relURL }}" alt="Ballast 2" class="ballast-gallery-img img-fluid">
      </div>
      <div class="col-lg-4 col-sm-6">
        <img src="{{ "ballast3.png" | relURL }}" alt="Ballast 3" class="ballast-gallery-img img-fluid">
      </div>
    </div>
  </div>
</div>
